* {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
}


body {
    background-color: rgb(3, 3, 3);
    margin: 0px;

}

h1 {
    background-color: rgb(18, 18, 19);
    color: rgb(175, 238, 236);
    padding: 10px;
    margin: 0;
}
h1, h2, h3, h4, p, ul, li, ol  {
    text-align: center;
}

p {
    color: rgb(187, 130, 161);
    font-size: 18px;
    margin: 20px 200px;
}

h2 {
    font-style: italic;
    font-size: 20px;
    color: darkgrey;
    margin: 0 10px;
}

div {
    width: 1080px;
    /*background-image:url(images/IMG_0227.jpg);
    background-repeat: repeat;*/
    color:powderblue;
    border:rgb(196, 194, 194) solid 2px;
}
img {
    height: 225px;
    border: lightseagreen solid 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

button {
    border: none;
    background-color: magenta;
    color: midnightblue;
    border-radius: 20px;
    
}


ul {
    text-align: center;
    list-style: inside;
}

ol {
    text-align: center;
    list-style: inside;
}


/*p {
    font-size: 20px;
    border: 12px blue; 
    padding: 4rem;
    margin: 10px;
}*/